@model BuisnessLayer.ViewModels.MoveProposalViewModel;
 
<h1>Details:</h1>
<hr />
<br />

<form>
    <div class="form-group row">
        <label asp-for="MoveFrom" class="col-sm-2 col-form-label">Move From:</label>
        <div class="col-sm-10">
            <input type="text" asp-for="MoveFrom" readonly class="form-control-plaintext" placeholder="MoveFrom">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="MoveTo" class="col-sm-2 col-form-label">Move To:</label>
        <div class="col-sm-10">
            <input type="text" asp-for="MoveTo" readonly class="form-control-plaintext" placeholder="MoveTo">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Distance" class="col-sm-2 col-form-label">Distance:</label>
        <div class="col-sm-10">
            <input type="text" asp-for="Distance" readonly class="form-control-plaintext" placeholder="Distance">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="LivingArea" class="col-sm-2 col-form-label">Living Area:</label>
        <div class="col-sm-10">
            <input type="text" asp-for="LivingArea" readonly class="form-control-plaintext" placeholder="LivingArea">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="AtticArea" class="col-sm-2 col-form-label">Attic Area:</label>
        <div class="col-sm-10">
            <input type="text" asp-for="AtticArea" readonly class="form-control-plaintext" placeholder="AtticArea">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Piano" class="col-sm-2 col-form-label">Piano:</label>
        <div class="col-sm-10">
            <input type="text" asp-for="Piano" readonly class="form-control-plaintext" placeholder="Piano">
        </div>
    </div>
</form>